<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Daffodils Learning Center</h2>
        </header>
        <p>We are currently under construction right now. 
	<br />
	Check back again later! 
        <br /></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Learn More about Daffodils!</a></li>
            </ul>
        </footer>

    </div>

</section>
